<!DOCTYPE html>
<html>
<head>
  <title>Cmall</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery","jquery.KinSlideshow-1.2.1.min","common" %>
  <%= stylesheet_link_tag "common", 'index' %>
</head>

<body>

    <div class="top">
      <ul class="w">
        <li class="fav"><a href="#">收藏器材在线</a></li>
        <li class="welcome">欢迎来到器材在线</li>
        <li class="login">
          <form name="form" id="loginform" action="" method="post"><label for="username">用户名:</label><input type="text" name="username" id="username" class="int"/><label for="password">密码:</label><input type="text" name="password" id="password"  class="int"/><input type="submit" class="sub" value="登陆" /><input type="button" value="注册" class="reg" /><a href="#" class="ca6 ml10 mr10">忘记密码？</a></form>
        </li>
        <li class="quick">
          <a href="#">我的订单</a> |
          <a href="#">我的器材在线</a> |
          <a href="#">联系客服</a> |
          <a href="#">帮助中心</a>
        </li>
      </ul>
    </div>


    <div class="Menu w c">
      <li class="logo">
        <a href="#" title="360器材在线"><img src="/assets/Logo.jpg" width="210" title="360器材在线" /></a>
      </li>
      <li class="menu">
        <ul class="menuul">
          <li class="index"><a href="<%= root_url%>">首页</a></li>
          <li class="nav">
            <a href="<%= brands_url%>">品牌直销</a>
            <a href="tuan/html/arclist.html" target="_blank">团购</a>
            <a href="<%= messages_url(:cat=>"xiangmuzhaoshang")%>">项目招商</a>
            <a href="<%= messages_url(:cat=>"huiyihuizhan")%>">会议会展</a>
            <a href="<%= messages_url(:cat=>"qiugou")%>">最新求购</a>
            <a href="<%= messages_url(:cat=>"qiyezhaopin")%>">企业招聘</a>
            <a href="#">分部分类</a>
            <a href="#" class="bgn">生物论坛</a>
          </li>
        </ul>
      </li>
    </div>

    <div class="tool w">

      <ul class="search">
        <form name="form" id="form" method="post" action="">
          <input type="text" name="keyword" id="keyword" onFocus="if (value =='名称、型号、品牌'){value =''}" onBlur="if (value ==''){value='名称、型号、品牌'}" value="名称、型号、品牌" class="searchinput" /><input type="submit" value="" class="searchsubmit" />
        </form>
      </ul>

      <ul class="hotword">
			热门关键字：<a href="#">尼康显微镜SMZ1500</a>
      </ul>

      <ul class="buycar">
        <li class="carnum"><a href="#">购物车 <font class="num">0</font> 件</a>
          <div class="carlist">您的购物车中暂无商品，赶快选择心爱的商品吧！</div>
        </li>

        <li class="jies"><a href="#"></a></li>
      </ul>

      <ul class="bqr"></ul>
    </div>

		<%= yield %>

<style type='text/css'>
 input,textarea{border:1px solid #000;}
</style>
  </body>
</html>
